#!/bin/bash
# start cluster
#./spark-2.2.0-bin-hadoop2.7/sbin/start-master.sh
# create worker
#./spark-2.2.0-bin-hadoop2.7/sbin/start-slave.sh spark://dtag-litpu:7077
# submit job
sudo apt-get install maven
mvn clean compile assembly:single
./spark-2.2.0-bin-hadoop2.7/bin/spark-submit \
  --master spark://dtag-litpu:7077 \
  --class com.pubvantage.AppMain \
  --driver-class-path "lib/mysql-connector-java-5.1.21.jar" \
  target/unified-report-scorer-jar-with-dependencies.jar
