#database
db.url=jdbc:mysql://localhost:3306/unified_reports_api
db.user=root
db.password=123456
db.serverTimezone=UTC
#db column name
column.identifier=__identifier
#rest
api.port=8086
#predict execute service thread
THREAD_EXECUTE_SERVICE_SCORE=20
THREAD_EXECUTE_SERVICE_LEARNER=20